.pub-comment
    form.pure-form.pure-form-stacked
        .pure-g
            label.pure-u-1 昵称
            input.pure-u-1(type="text" id="nickname" value="测试员")

            label.pure-u-1 博客地址
            input.pure-u-1(type="text" id="blogAddress" value="www.baidu.com")

            label.pure-u-1 评论内容
            textarea.pure-u-1(id="comment")

            a.J_comment.pure-u-1.pure-button.pure-button-primary 发表评论