@import "common/common", "vendor/markdown", "vendor/notie";
.master{
    color: lightcoral;
    font-weight: 700;
}
.main-layout {
    .article-box {
        h4.title {
            margin-top: 30px;
            font-size: 26px;
            font-weight: 700;
            color: $mainTitle;
        }
        h5.sub-title {
            p{
                em{
                    display: inline-block;
                    padding: 0 5px;
                    border: 1px solid $baseRed;
                    color: $baseRed;
                    font-size: 12px;
                    border-radius: 4px;
                    margin-right: 5px;
                }
                .time{
                    float: right;
                    color: $minTitle;
                }
            }
            p.control{
                float: right;
                a{
                    margin-left:10px;
                }
            }
            font-size: 14px;
            margin: 10px 0 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid $borderColor;
        }
    }

    .comment-box {
        .comment-title{
            margin-top: 30px;
            font-size:18px;
            font-weight:700;
            color: $mainTitle;
        }
        &>ul{
            margin-top: 10px;
            &>li {
                padding: 10px 0;
                border-top: 1px solid $borderColor;
                &:last-child {
                    border-bottom: 1px solid $borderColor;
                }
                .head {
                    p {
                        span {
                            margin-right: 5px;
                        }
                        .time{
                            color: $minTitle;
                            font-size: 12px;
                        }

                    }
                }
                &>.body{
                    margin-top: 10px;
                    font-size: 16px;
                }
                .footer {
                    overflow: hidden;
                    zoom: 1;
                    a{
                        float: right;
                        margin-left: 10px;
                    }
                }
                ul.replay{
                    border-left: 4px solid $borderColor;
                    padding-left: 10px;
                    li{
                        border-bottom: 1px dashed $borderColor;
                        padding-top: 20px;
                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }

}

.pub-comment,
.pub-replay{
    label{
        font-weight: 700;
        margin-top: 10px;
    }
    textarea {
        border: 1px solid #ccc;
        padding: 10px;
        width: 100%;
        height: 150px;
    }
    a{
        margin-top: 10px;
    }
}
.pub-comment{
    margin-top: 50px;
}
.pub-replay{
    padding: 0 10px;
}

//.layer{
//    background-color: rgba(0,0,0, .5);
//    z-index: 99999;
//    position: fixed;
//    top: 0;
//    left: 0;
//    right: 0;
//    bottom: 0;
//    .layer-container{
//        background-color: #fff;
//        padding: 20px;
//        position: absolute;
//        width: 60%;
//        min-width: 280px;
//        max-width: 500px;
//        top: 50%;
//        left: 50%;
//        transform: translate(-50%,-50%);
//    }
//}