@import "common/common", "vendor/markdown";

.article-layout {
    margin: 0 auto;
    max-width: 700px;

    .article-box {

        h4.title {
            margin-top: 30px;
            font-size: 20px;
            color: $mainTitle;
        }
        h5.sub-title {
            font-size: 14px;
            margin: 10px 0 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid $borderColor;
        }
        p {

        }

    }
    .comment-box {
        margin-top: 30px;
        border-left: 4px solid #ccc;
        li {
            padding: 20px;
            border-bottom: 1px dashed #ccc;
            &:last-child {
                border: none;
            }
            .head {
                p {
                    span {
                        margin-right: 5px;
                    }
                    em {
                        margin-left: 10px;
                        font-size: 12px;
                    }
                }
            }
        }

    }
    .pub-comment {
        margin-top: 20px;
        .commentValue {
            border: 1px solid #ccc;
            padding: 10px;
            width: 100%;
            height: 150px;
        }
    }
}