@import
"common/common";

// article list
ul.article-list{
    li{
        h4{
            margin-top: 30px;
            font-size: 20px;
            color: $mainTitle;
            a{
                display: block;
                @include singleline-ellipsis()
            }
        }
        h5{
            font-size: 14px;
            margin: 10px 0 20px;
            .mine{
                color: #ee4133;
                font-weight: 700;

            }
        }
        p{
            margin-bottom: 30px;
        }
    }
}
