@import
"base/_variables",
"base/_mixin",
"base/base",
"base/pure",
"common/common";

// article list
ul.article-list{
    li{
        h5{
            margin-top: 30px;
            font-size: 20px;
            color: $mainTitle;
        }
        p{
            margin: 10px 0 20px;
        }
    }
}
