@import
"common/common";

// article list
ul.article-list{
    li{
        padding: 20px 0;
        border-bottom: 1px solid $borderColor;
        transition: .2s;
        &:hover{
            //background-color: #fefefe;
        }
        h4{
            font-size: 20px;
            font-weight: 700;
            a{
                display: block;
                @include singleline-ellipsis();
                color: $subTitle;
                &:hover{
                    color: $mainTitle;
                }
            }
        }
        h5{
            font-size: 14px;
            margin: 10px 0;
            span{
                margin: 0 10px;
            }
            em{
                color: $minTitle;
            }
            .other{

            }
            .mine{
                color: lightcoral;
                font-weight: 700;
            }
            .type{
                padding: 1px 5px;
                color: #fff;
                border-radius: 2px;
                background-color: skyblue;
                font-size: 12px;
            }
            .time{
                //float: right;
                //font-size: 12px;
            }
        }
        p{

        }
    }
}
