@import
"common/common";

.container{
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 40%;
    min-width: 300px;
    margin: 50px auto;
    padding: 30px;
    #submit{
        margin-top: 20px;
    }
}