@import
"common/common";

.main{
    .tabs-box{
        .tabs-head{
            @extend .clearfix;
            border-bottom: 2px solid #00B7FF;
            a{
                float: left;
                padding: 0 20px;
                color: #4c5e70;
                line-height: 30px;
                &.active{
                    background-color: #00B7FF;
                    color: #fff;
                }

            }
        }
        .tabs-body{

        }
    }
    h5{
        padding-left:10px;
        font-size: 24px;
        padding-bottom: 5px;
        border-bottom: 2px solid $borderColor;
    }
    .comment-list{

        li{
            border-bottom: 1px dashed $borderColor;
            a{
                padding: 10px;
                display: block;
                color: inherit;
                &:hover{
                    background-color: #f8f8f8;
                }
                .nickname{
                    color: #00B7FF;
                }
                .time{
                    float: right;
                    color: $minTitle;
                    font-size: 12px;
                }
                p{
                    margin-top: 10px;
                }
            }

        }
    }
}