@import "_variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{font-weight: 400}
article,aside,details,figcaption,figure,footer,header,main,nav,section,summary {
    display: block;
}
html{
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #4c5e70;
    font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, STHeiTi, Arial, sans-serif;
    -webkit-user-select: none;
    user-select: none;
}
input,textarea{
    font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, STHeiTi, Arial, sans-serif;
    font-size: 14px;
    color: #4c5e70;
}
body{

    position: relative;
}
audio, canvas, progress, video{
    display: inline-block;
    vertical-align: baseline;
}
img{
    border: none;
    vertical-align: middle;
}
a{
    text-decoration: none;
    outline: none;
    /*设置的tap  A标签的时候出现的黑色高亮*/
    -webkit-tap-highlight-color: transparent;
    color: $baseBlue;
}
a:active{
    outline: 0;
}
.clearfix{
    zoom: 1;
}
.clearfix:before, .clearfix:after{
    content: '';
    display: table;
}
.clearfix:after{
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.tc{
    text-align: center;
}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb50{margin-bottom:50px;}
em,i{
    font-style: normal;
}
input{
    outline: none;
}
input[type="text"], input[type="tel"]{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 去除iphone ipad 设备默认按钮样式 */
input[type="button"], input[type="submit"], input[type="reset"]{
    -webkit-appearance: none;
    border-radius: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder{
    color: #cccccc;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder{
    color: #cccccc;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color: #cccccc;
}
textarea{
    resize: none;
}
// 滚动条
::-webkit-scrollbar/*整体部分*/
{
width: 10px;
height:10px;
}

::-webkit-scrollbar-track/*滑动轨道*/
{
border-radius: 0px;
background: rgba(200,200,200,1);
}

::-webkit-scrollbar-thumb/*滑块*/
{
background: rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb:hover/*滑块效果*/
{
background: rgba(0,0,0,0.6);
}
