extends layout
block stylesheets
    link(rel="stylesheet", href="/css/publish.min.css")
block content
    .pure-g
        include includes/sidebar
        .main.pure-u-1.pure-u-md-3-4
            h1 发布
            form.pure-form.pure-form-stacked
                label(for="title") 标题
                input#title(type="text" placeholder="title" value="#{article ? article.title : ''}")

                label(for="type") 分类
                select#type
                    option(value="HTML") HTML
                    option(value="CSS") CSS
                    option(value="JS") JS
                label 正文
                div#content  #{article ? article.content : ''}

                if(article)
                    a#update(href="javascript:;" data-id="#{ article._id }") 修改
                else
                    a#submit(href="javascript:;") 发布

block scripts
    script.
        require(['main'], function () {
            require(['page/publish']);
        });