extends layout
block stylesheets
    link(rel="stylesheet", href="/css/index.min.css")
block content
    h1 发布
    h3 标题
    p
        if(article)
            input(type="text" id="title" value="#{article.title}")
        else
            input(type="text" id="title" )
    h3 正文
    p
        if(article)
            textarea(id="content") #{article.content}
        else
            textarea(id="content")

    a#submit(href="javascript:;") 发布

block scripts
    script.
        require(['main'], function () {
            require(['page/publish']);
        });