.sidebar{
    background: url(../../images/banner.jpg) bottom no-repeat;
    background-size: cover;
    padding: 50px 0;
    color: #fff;
    text-align: center;
    h3{
        font-size: 24px;
        margin-bottom: 20px;
        a{

        }
    }
    h5{
        margin-bottom: 10px;
    }
}
@media (min-width: 48em){
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        padding: 100px 0;
    }
}
