@import "../base/_variables";
.sidebar{
    //background: url(../../images/banner.jpg) bottom no-repeat;
    //background-size: cover;
    position: relative;
    background-color: $sideBgColor;
    padding: 50px 0;
    color: #fff;
    text-align: center;
    h3{
        font-size: 24px;
        margin-bottom: 20px;
    }
    #user{
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
    }
    a{
        margin: 0 10px;
    }
}
@media (min-width: 48em){
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        padding: 100px 0;
    }
}


.bg{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-filter: blur(10px); /* Chrome, Opera */
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    ul{
        li{
            margin: 10px;
            float: left;
            height: 80px;
            background: pink;
        }
    }
}