@import "../base/_variables";

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    height: auto;
    padding: 100px 0;
    background-color: $sideBgColor;
    color: #fff;
    text-align: center;
    h3{
        margin-bottom: 20px;
    }
}
body{
    padding-top: 0px;
}
@media (max-width: 48em){
    .sidebar{
        //background: url(../../images/banner.jpg) bottom no-repeat;
        //background-size: cover;
        z-index: 99;
        width: 100%;
        height: 50px;
        padding: 0;
        h3{
            float: left;
            font-size: 24px;
            line-height:50px;
            margin: 0 10px;
        }
        .control{
            float: right;
            line-height: 50px;
            margin: 0 10px;
            #user{
                font-size: 14px;
            }
            a{
                display: block;
            }
        }
    }
    body{
        padding-top: 50px;
    }
}



