extends ../layout
block stylesheets
    link(rel="stylesheet", href="/css/login.min.css")
block content
    .container
        h1 登录
        form.pure-form.pure-form-stacked
            .pure-g
                label.pure-u-1(for="username") 用户名
                input.pure-u-1(type="text" id="username")

                label.pure-u-1(for="password") 密码
                input.pure-u-1(type="password" id="password")

                a.pure-u-1.pure-button.pure-button-primary#submit(href="javascript:;") 登录
block scripts
    script.
        require(['main'], function () {
            require(['page/login']);
        });