extends ../layout
block stylesheets
    link(rel="stylesheet", href="/css/register.min.css")
block content
    .container
        h1 注册
        form.pure-form.pure-form-stacked
            .pure-g
                label.pure-u-1 用户名
                input.pure-u-1(type="text" id="username")

                label.pure-u-1 密码
                input.pure-u-1(type="password" id="password")

                label.pure-u-1 重复密码
                input.pure-u-1(type="password" id="rePassword")

                label.pure-u-1 邮箱
                input.pure-u-1(type="text" id="email" value="dee@gmail.com")

                a#submit.pure-u-1.pure-button.pure-button-primary(href="javascript:;") 注册

block scripts
    script.
        require(['main'], function () {
            require(['page/register']);
        });